.margin-top2{
  margin-top: 5em;
}

.margin-bot{
  margin-bottom: 6em;
}

.input-field input[type=text]:focus {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

.input-field label {
   color: #bdbdbd;
}

.input-field input[type=text]:focus + label {
   color: red;
}

.input-field option {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

.row {
  margin-bottom: 10px;
}

#linha_botoes button{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.erro{
    color: red;
    margin-top: 0px;
}